* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-style: normal;
font-family: 'Montserrat', sans-serif;
font-weight: normal;
}

img {
    width: 100%;
}

.container {
display: flex;
flex-direction:
row-reverse; width: 1200px;
margin: 40px auto;
}

.about_me_sectoin {
margin: 0 0 40px 0;
}

.my_projects {
margin: 70px 50px;
}

.about_me_name {
font-weight: bold;
font-size: 45px;
line-height: 55px;
margin: 20px 0 25px 0;
}

.about_me_description {
width: 400px;
font-size: 14px;
line-height: 24px;
color: #595959;
}

.main-title {
margin-bottom: 10px;
}

.my_projects_item {
color: #000;
font-weight: bold;
}

.my_projects_link {
font-size: 14px;
line-height: 24px;
color: #595959;
}

.my_projects_text {
font-size: 14px;
line-height: 24px;
color: #595959;
margin-left: 5px;
}

.company {
color: #FB6D3A;
}

.position {
font-weight: bold;
font-size: 16px;
line-height: 20px;
}


.experience-time {
font-size: 12px;
line-height: 15px;
color: #A8A8A8;
margin: 10px;
}

.skills_list {
padding: 0 0 0 20px;
}

.siderbar_section {
background-color: #1E2939;
width: 370px;
padding: 40px 0;
}

.skills {
margin: 30px 0 0 50px;
}

.sidebar_title {
font-weight: bold;
font-size: 22px;
line-height: 27px;
color: #FB6D3A;
margin-bottom: 10px
}

.contact_section_type {
font-size: 14px;
line-height: 24px;
color: #FB6D3A;
margin-right: 5px;
}

.contact_section_link {
color: white;
font-size: 14px;
line-height: 24px;
text-decoration: none;
}

.skills_item {
color: white;
font-size: 14px;
line-height: 24px;
}